
<div class="list-group">   
    @Html.ActionLink("Add New Location", "AddLocation", null, new { @class = "list-group-item" })
    @Html.ActionLink("Add New Producer", "AddProducer", null, new { @class = "list-group-item" })
    @Html.ActionLink("Add New Product", "AddProduct", null, new { @class = "list-group-item" })
</div>